<ul class="posts">
    {% for apl in apls %}
        <li class="post">
            <div class="post-thumbnail">
                <a href="{{ url_for('main.user', username=apl.applicant.username) }}">
                    <img class="img-rounded profile-thumbnail" src="{{ apl.applicant.gravatar(size=40) }}">
                </a>
            </div>
            <div class="post-author">
                <a href="{{ url_for('main.user', username=apl.applicant.username) }}">{{ apl.applicant.username }}</a>
            </div>
            <div class="post-content">
                <div class="post-date">报名时间：{{ moment(apl.timestamp).fromNow() }}</div>
                <div class="post-body">
                    <dl>
                        <dt class="c7">
                            所报课程
                        </dt>
                        <dd>
                            <a href="{{ url_for('course.detail', id = apl.apply_course.id) }}" target="_blank">
                                {{ apl.apply_course.title }}
                            </a>
                        </dd>
                    </dl>
                    <dl>
                        <dt class="c7">
                            姓名
                        </dt>
                        <dd>
                            <p>{{ apl.name }}</p>
                        </dd>
                    </dl>
                    <dl>
                        <dt class="c7">
                            联系电话
                        </dt>
                        <dd>
                            <p>{{ apl.telephone }}</p>
                        </dd>
                    </dl>
                    <dl>
                        <dt class="c7">
                            联系地址
                        </dt>
                        <dd>
                            <p>{{ apl.address }}</p>
                        </dd>
                    </dl>
                </div>
                <div class="post-footer">
                    <a href="{{ url_for('main.user', username = apl.applicant.username) }}">
                        <span class="label label-info">查看该用户</span>
                    </a>
                </div>
            </div>
        </li>
    {% endfor %}
</ul>