{% extends "theme_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}松学网{% endblock %}

<!-- TODO-cott: 修改样式 -->
{% block page_content %}
    {#<div class="page-header">
            <h1>你好， {% if current_user.is_authenticated() %}{{ current_user.username }}{% else %}欢迎访问{% endif %}！</h1>
        </div>
        <div class="post-tabs">
            <ul class="nav nav-tabs">
                <li{% if not show_followed %} class="active"{% endif %}><a href="{{ url_for('.show_all') }}">全部</a></li>
                {% if current_user.is_authenticated() %}
                    <li{% if show_followed %} class="active"{% endif %}><a href="{{ url_for('.show_followed') }}">关注</a>
                    </li>
                {% endif %}
            </ul>
            {% include '_courses.html' %}
        </div>
        {% if pagination %}
            <div class="pagination">
                {{ macros.pagination_widget(pagination, '.index') }}
            </div>
        {% endif %}#}

    <div id="templatemo_slider">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="{{ url_for('static', filename="5.jpg") }}" alt="01.jpg">

                    <div class="carousel-caption">

                    </div>
                </div>
                <div class="item">
                    <img src="{{ url_for('static', filename="5.jpg") }}" alt="02.jpg">

                    <div class="carousel-caption">

                    </div>
                </div>
                <div class="item">
                    <img src="{{ url_for('static', filename="5.jpg") }}" alt="03.jpg">

                    <div class="carousel-caption">

                    </div>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button"
               data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button"
               data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div id="templatemo_main">
        <div class="col one_third fp_services">
            <h2><a href="              ">热门课程 </a></h2>

            <div class="rp_pp">
                <img class="icon_size" src="{{ url_for('static', filename="images/ico/21.ico") }}"
                     alt="Image 01"/>
                <a href="#">华政计算机二级 ms offic 培训班</a>

                <p>2015-06-07 便学网</p>

                <div class="cleaner"></div>
            </div>
            <div class="rp_pp">
                <img class="icon_size" src="{{ url_for('static', filename="images/ico/21.ico") }}"
                     alt="Image 02"/>
                <a href="#">政府免费培训课程</a>

                <p>2015-06-07 松江有心兼职团队</p>

                <div class="cleaner"></div>
            </div>
            <div class="rp_pp">
                <img class="icon_size" src="{{ url_for('static', filename="images/ico/21.ico") }}"
                     alt="Image 03"/>
                <a href="#">2016端午魔鬼集训体验营——政英数班</a>

                <p>2015-06-07 北大燕园考研</p>

                <div class="cleaner"></div>
            </div>
        </div>
        <div class="col one_third fp_services">
            <h2><a href="             ">最新消息 </a></h2>

            <div class="rp_pp">
                <img class="icon_size" src="{{ url_for('static', filename="images/ico/22.ico") }}"
                     alt="Image 01"/>
                <a href="#">[讲座]</a>"高数王"来袭,6月15日18:00特邀中国考研高数第一人...<a href="">查看全文</a>


                <p>
                <p>2015-06-07 北大燕园考研</p>

                <div class="cleaner"></div>
            </div>
            <div class="rp_pp">
                <img class="icon_size" src="{{ url_for('static', filename="images/ico/22.ico") }}"
                     alt="Image 02"/>
                 <a href="#">[免费课程]</a>政治,英语高分基础班,可免费试听.主讲人:...<a href="">查看全文</a>


                <p>
                <p>2015-06-05 跨考考研</p>
                <div class="cleaner"></div>
            </div>
            <div class="rp_pp">
                <img class="icon_size" src="{{ url_for('static', filename="images/ico/22.ico") }}"
                     alt="Image 03"/>
                 <a href="#">[免费课程]</a>北大燕园精品小班课开课通知时间:6月15日 13:30-20:...<a href="">查看全文</a>


                <p>
                <p>2015-06-02 北大燕园考研</p>
                <div class="cleaner"></div>
            </div>
        </div>
        <div class="col one_third no_margin_right fp_services">
            <h2><a href="           ">资源共享  </a> </h2>

            <div class="testimonial">
                <p><a href=""> 大学英语四六级词汇汇总  点击下载</a>
                    </p>
                <cite>资源上传者: <a href="#"><span>Hellckt</span></a></cite></div>
            <div class="testimonial">
                 <p><a href=""> 宫东风考研英语阅读讲解视频  点击下载</a>
                    </p>
                <cite>资源上传者: <a href="#"><span>Lying</span></a></cite></div>
        </div>
        <div class="cleaner"></div>
        <!-- END of templatemo_main -->
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}
